import lombok.Data;
import lombok.experimental.Accessors;

public class App {

    public void test() {
        <spot>vehicle_control_system</spot>

        <spot>vehicle_control_system</spot>$key

        <spot>"vehicle_control_system"</spot>$key
    }

}

