import lombok.Data;
import lombok.experimental.Accessors;

public class App {

    public void test() {
        <spot>车辆控制系统</spot>$key

        <spot>vehicle_control_system</spot>$key

        <spot>"vehicle control system"</spot>$key
    }

}

